/* 清除默认样式 开始 */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
img {
  display: block;
}
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}
input,
button {
  border: 0;
  outline: none;
  background-color: transparent;
}
/* 清除默认样式 结束 */
/* 便捷方式 开始 */
.lt {
  position: absolute;
  left: 0;
  top: 0;
}
.rt {
  position: absolute;
  right: 0;
  top: 0;
}
.rb {
  position: absolute;
  right: 0;
  bottom: 0;
}
.all {
  width: 100%;
  height: 100%;
}
.dn {
  display: none;
}
.clt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* 便捷方式 结束 */
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box {
  background: url("../img/p2_5.png") no-repeat;
  background-size: 100% 100%;
  /* loading页面 开始 */
  /* loading页面 结束 */
  /* 开始页面 开始 */
  /* 开始页面 结束 */
}
.box .filleted {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 96vw;
  height: 98%;
  z-index: 2;
}
.box .music {
  position: absolute;
  right: 7.46666667vw;
  top: 8vw;
  width: 10.53333333vw;
  height: 10.53333333vw;
  z-index: 2;
}
.box .loading .fc {
  position: absolute;
  top: 50%;
  margin-top: -21vw;
  left: 20vw;
  width: 10.8vw;
  height: 18.53333333vw;
}
.box .loading .progress {
  left: 50%;
  margin-left: -30.4vw;
  position: absolute;
  top: 50%;
  margin-top: -1.93333333vw;
  width: 60.8vw;
  height: 3.86666667vw;
}
.box .loading .progress p {
  width: 60.8vw;
  height: 3.86666667vw;
  border-radius: 2vw;
  overflow: hidden;
}
.box .loading .progress p span {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2vw;
  display: block;
  width: 0;
  height: 100%;
  background-color: skyblue;
}
.box .loading .progress > span {
  display: block;
  text-align: center;
  color: #fff;
  margin-top: 3.73333333vw;
  font-size: 4.26666667vw;
}
.box .page1 {
  position: relative;
}
.box .page1 .scenery {
  position: absolute;
}
.box .page1 .scenery .seascape {
  width: 100vw;
  height: 118.8vw;
}
.box .page1 .scenery .ship {
  position: absolute;
  left: 0;
  bottom: 13.33333333vw;
  width: 9.46666667vw;
  height: 31.73333333vw;
  animation: move 6s linear infinite alternate;
}
.box .page1 .scenery .glbumm {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 117.6vw;
}
.box .page1 .curtain-l {
  position: absolute;
  left: 0;
  top: 0;
  width: 29.46666667vw;
  height: 120vw;
}
.box .page1 .curtain-r {
  position: absolute;
  right: 0;
  top: 0;
  width: 29.46666667vw;
  height: 120vw;
}
.box .page1 .mainContent {
  position: relative;
}
.box .page1 .mainContent .logo {
  position: absolute;
  left: 50%;
  margin-left: -8.2vw;
  top: 8vw;
  width: 16.4vw;
  height: 22vw;
}
.box .page1 .mainContent .person {
  top: 50%;
  margin-top: -6vw;
  position: absolute;
  left: 50%;
  margin-left: -33.33333333vw;
  width: 54.53333333vw;
  height: 34.26666667vw;
  z-index: 2;
  background: url("../img/p1_3.png") no-repeat;
  background-size: 100% 100%;
}
.box .page1 .mainContent .title {
  position: absolute;
  left: 50%;
  margin-left: -47.46666667vw;
  top: 34.66666667vw;
  width: 94.93333333vw;
  height: 44.53333333vw;
  z-index: 3;
}
.box .page1 .mainContent .cabinet-l {
  position: absolute;
  top: 50%;
  margin-top: 0vw;
  left: 4vw;
  width: 17.33333333vw;
  height: 29.2vw;
}
.box .page1 .mainContent .sofa {
  left: 50%;
  margin-left: -46.4vw;
  position: absolute;
  top: 50%;
  margin-top: 1.33333333vw;
  width: 92.8vw;
  height: 51.6vw;
  z-index: 1;
}
.box .page1 .mainContent .cabinet-r {
  position: absolute;
  top: 50%;
  margin-top: 2.66666667vw;
  right: 1.33333333vw;
  width: 16vw;
  height: 23.06666667vw;
}
.box .page1 .text {
  position: absolute;
  left: 50%;
  margin-left: -32.86666667vw;
  bottom: 26.66666667vw;
  width: 65.73333333vw;
  height: 17.2vw;
  z-index: 1;
}
.box .page1 .arrow {
  position: absolute;
  left: 50%;
  margin-left: -1.86666667vw;
  bottom: 22.66666667vw;
  width: 3.73333333vw;
  height: 1.86666667vw;
}
.box .page1 .ksbtn {
  position: absolute;
  left: 50%;
  margin-left: -14.93333333vw;
  bottom: 9.06666667vw;
  width: 29.86666667vw;
  height: 11.6vw;
}
.box .page1 .ksbtn img {
  width: 100%;
  height: 100%;
}
.box .page1 .flowerBox {
  position: absolute;
  right: 0vw;
  bottom: 38.66666667vw;
  width: 27.86666667vw;
  height: 35.2vw;
  z-index: 1;
}
.box .page1 .flowerBox .flower {
  width: 27.86666667vw;
  height: 24vw;
}
.box .page1 .flowerBox .basin {
  position: absolute;
  right: 0;
  width: 15.6vw;
  height: 11.2vw;
}
.anima .title {
  opacity: 0;
  animation: bounceIn 1s forwards;
}
.anima .flower {
  animation: wind linear 6s infinite alternate;
}
.anima .person {
  animation: show 2s infinite alternate;
}
@keyframes show {
  0% {
    background: url("../img/p1_2.png") no-repeat;
    background-size: 100% 100%;
  }
  100% {
    background: url("../img/p1_3.png") no-repeat;
    background-size: 100% 100%;
  }
}
/* 动画 */
@keyframes move {
  0% {
    left: 25%;
  }
  100% {
    left: 65%;
  }
}
@keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0) scaleY(5);
    transform: translate3d(0, 3000px, 0) scaleY(5);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes lightSpeedInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0) skewX(30deg);
    transform: translate3d(-100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(5deg);
    transform: skewX(5deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  40% {
    -webkit-transform: scale3d(0.7, 0.7, 0.7);
    transform: scale3d(0.7, 0.7, 0.7);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.83, 0.83, 0.83);
    transform: scale3d(0.83, 0.83, 0.83);
  }
  80% {
    -webkit-transform: scale3d(0.67, 0.67, 0.67);
    transform: scale3d(0.67, 0.67, 0.67);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
}
@keyframes wind {
  0% {
    transform: rotateY(20deg);
  }
  30% {
    transform: rotateY(-20deg);
  }
  60% {
    transform: rotateY(20deg);
  }
  100% {
    transform: rotateY(-20deg);
  }
}
@media screen and (max-height: 650px) {
  .box .page1 .bgBox {
    transform: scaleY(0.8);
  }
  .box .page1 .mainContent .logo {
    top: 4.66666667vw;
  }
  .box .page1 .mainContent .title {
    top: 26.66666667vw;
    transform: scale(0.8);
  }
  .box .page1 .mainContent .person {
    top: 50%;
    margin-top: -14.66666667vw;
    position: absolute;
    left: 50%;
    margin-left: -33.33333333vw;
    width: 54.53333333vw;
    height: 34.26666667vw;
    z-index: 2;
    background: url("../img/p1_3.png") no-repeat;
    background-size: 100% 100%;
  }
  .box .page1 .mainContent .cabinet-l {
    position: absolute;
    top: 50%;
    margin-top: -7.33333333vw;
  }
  .box .page1 .mainContent .cabinet-r {
    position: absolute;
    top: 50%;
    margin-top: -5.33333333vw;
  }
  .box .page1 .mainContent .sofa {
    position: absolute;
    top: 50%;
    margin-top: -7.66666667vw;
  }
  .box .page1 .text {
    bottom: 22.66666667vw;
  }
  .box .page1 .arrow {
    bottom: 18.66666667vw;
  }
  .box .page1 .ksbtn {
    bottom: 5.33333333vw;
  }
}
